<!DOCTYPE html>
<html>
<head>
    <partial name="_Head">
</head>
<body>

    <partial name="_Header">
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <partial name="_Footer" />
    </div>

    <partial name="_ScriptsPartial">

    @RenderSection("Scripts", required: false)
</body>
</html>
