<!DOCTYPE html>
<html>
<head>
    <partial name="_HeadPartial">
    <partial name="_CssFilesPartial">
</head>
<body>
    <partial name="_SidebarPartial">
    <div id="right-panel" class="right-panel">
        <partial name="_HeaderPartial">
        <partial name="_BreadcrumbsPartial">
        @RenderBody()
    </div>
    <partial name="_ScriptsPartial">
    @RenderSection("Scripts", required: false)
</body>
</html>
