<!DOCTYPE html>
<html>
<head>
    <partial name="_Head">
</head>
<body>
    <partial name="_Sidebar">
    <div>
        @RenderBody()
    </div>
    <partial name="_ScriptsPartial">
    @RenderSection("Scripts", required: false)
</body>
</html>
